/*global*/
*{
    margin: 0;
}

body{
    font-family: "fredoka";
}

/*utilities*/
.container{
    display: flex;
    flex-direction: column;
    background-color: grey;
    width: 75%;
}

.convert-btn{
    background-color: green;
    color: white;
}